
input, select, textarea {
    font-size: 1.1em;
    padding: 0.9em 1em;
    width: 100%;
    border-radius: 0.5em;
    border: 0.08em solid rgba(0, 0, 0, 0.35);
    background: transparent !important;
    backdrop-filter: none !important;
    outline: none;
    color: #000;
    transition: 0.25s ease;
}

input:focus, select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0.4em rgba(0, 123, 255, 0.25);
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1em auto;
    background: transparent !important;
    padding: 1em;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    width: 55%;
    padding-right: 0;
}

#right-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#right-section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding: 0.8em;
    border: 0.08em solid rgba(0,0,0,0.25);
    border-radius: 0.6em;

    background: transparent;
}

#right-section input[type="file"] {
    width: auto;
}

.overview {
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border: 0.08em solid rgba(0,0,0,0.3);
    margin-bottom: 0.6em;
}


#submit {
    margin-top: 1em;
    padding: 0.9em;
    width: 100%;
    border: none;
    border-radius: 0.5em;
    background: linear-gradient(135deg, #00B4FF, #006CFF);
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

@media (max-width: 37em) {
    form {
        flex-direction: column;
        gap: 2em;
    }

    #inputs,
    #right-section {
        width: 100%;
    }
}