* {
    box-sizing: border-box;
}

.customer-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25em ;
}

.custom-header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.custom-header h2{
    margin: 0;
    font-size: 1.6em;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 1em;
}

.header-right .search-box{
    width: 12em;
    margin-bottom: 0;
}

.user-count{
    font-size: 1.1em;
    font-weight: bold;
}
.search-box{
    width: 90%;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 1em;
    border: 0.08em solid #444;
    outline: none;
    transition: 0.2s ease-in-out;
}

.search-box:focus{
    border-color:#000;
    background: #f5f5f5;
}
.styled-table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0.0625em solid #333;
    background: transparent;
    font-size: 1em ;
    line-height: 1.2em;
}


.styled-table thead tr {
    background-color: #444;
    color: #fff;
    text-align: center;
}

.styled-table th {
    padding: 0.6em;
    border: 0.08em solid #333;
    font-weight: 700;
    text-align: center;
}

.styled-table td {
    padding: 0.7em;
    border: 0.08em solid #333;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}


.styled-table tbody tr:hover td {
    background-color: rgba(0,0,0,0.08);
    cursor: pointer;
}


@media (max-width: 37em) {
    .styled-table {
        width: 98%;
        font-size: 0.8em ;
    }

    .search-box{
        width: 95%;
    }

    .styled-table td {
        height: 1.1em ;
        line-height: 1.1em ;
    }

    .custom-header{
        flex-direction:column ;
        gap: 0.5em;
        align-items: center;
    }
}
