#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#search-bar input{
    height: 2em;
    width: 15em;
    border-radius: 3px;
    border: 1px solid black;
    background-image: url(../static/icons/search-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: 16.2em center;
    background-size: 9%;
    padding-right: 2em;
}


.title{
    margin-bottom: -2em;
}

.overview{
    border: 1px solid black;
    height: 7em;
    width: 6em;
    background-repeat: no-repeat;
    object-fit: contain;
}