form{
    display: flex;
  justify-content: center;
  align-content: center;
}


input{
    margin: 1em;
    margin-right: 1em;
    margin-left: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 1em;
  line-height: 2em;
  width: 15em;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: end;
}