* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    background: #152931;
    height: 5.63em;
}

body{
    overflow: hidden;
}

h1 span {
    color: #005C83;
}

h1 {
    font-size: 3em;
}

#greet {
    font-size: 1.8em;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    height: 100%;
    width: 20em;
    width: clamp(12em,20vw,20em);
    left: 0;
    background-color: #46575E;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: left 0.3s ease,0.3s ease;
    position: relative;
}
#sidebar.collapsed{
    width:4em;
    left:0;
    overflow: hidden;
    transition: width 0.3s ease,left 0.3s ease;
}
.sidebar-open{
    left: 0;
}
#toggle-btn{
    align-self: center;
    margin: 1em 0 ;
    font-size: 2em;
    color: white;
    background: none;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}
#sidebar.collapsed #toggle-btn {
    margin: 1em 0;
}
@media(max-width:37em){
    #sidebar{
        position: relative;
        top:0;
        left:0;
        width:4em;
        height:auto;
        transition: width 0.3s ease;
        background-color: #46575E;
        overflow: hidden;
    }
    #sidebar:not(.collapsed){
        width: 20em;
    }
}



#shop-icon {
    height: 7em;
    width: 7em;
    background: white;
    background-image: url(../static/icons/shop.svg);
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: center center;
    border-radius: 80px;
    margin-top: 3em;
}

#main-container {
    /* display: flex; */
    width: 100%;
    overflow-y: auto;
    height: 90.6dvh;
    /* background-image: url(./icons/hooter.svg); */
    background-repeat: no-repeat;
    background-position: center center;
}