* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    background: #152931;
    height: 5.63em;
}

body{
    overflow: hidden;
}

h1 span {
    color: #005C83;
}

h1 {
    font-size: 3em;
}

#greet {
    font-size: 1.8em;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    height: 100%;
    width: 20em;
    background-color: #46575E;
    display: flex;
    flex-flow: column;
    align-items: center;
}
@media(max-width:56em ){
    #sidebar{
        width:6em;
        align-items: flex-start;
        padding: 1em;
    }
    .lower-section{
        justify-content: center;
    }
    .lower-card{
        width: 18em;
    }
}
@media(max-width:37em){
    #sidebar{
        width:20em;
        height:100%;
        position: fixed;
        top: 0;
        left: -20em;
        transition: left 0.3s ease;
    }
    .lower-section{
        flex-direction:column;
        align-items: center;
        padding: 1em;
    }
    .lower-card{
        width: 20em;
        max-width: 22em;
        height: auto;
        padding: 2em;
    }
    .overview-wrapper{
        margin-top: 0.5em;
        padding: 0;
        display: flex;
        flex-direction:column ;
        align-items: center;
    }
    .overview{
        text-align: left;
        width: 100%;
        margin-left: 3em;
    }
}



#shop-icon {
    height: 7em;
    width: 7em;
    background: white;
    background-image: url(../static/icons/shop.svg);
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: center center;
    border-radius: 80px;
    margin-top: 3em;
}

#main-container {
    display: flex;
    width: 100%;
    overflow-y: scroll;
    height: 90.6dvh;
    background-image: url(./icons/hooter.svg);
    background-repeat: no-repeat;
    background-position: center center;
}