* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    background: #009FE3;
    height: 5.63em;
}

h1 span{
    color: #005C83;
}

h1{
    font-size: 3em;
}