{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="../static/add.css">
<link rel="stylesheet" href="../static/edit.css">

<div id="search-bar">
    <input type="text" placeholder="Search Order-id">
</div>


<form method="post" enctype="multipart/form-data">
    <div id="inputs">
        <p class="title">PRODUCT TITLE</p>
        <input type="text" id="title" name="title" placeholder="PRODUCT TITLE" required autocomplete="off">
        <p class="title">VENDOR ID</p>
        <input type="text" id="vendor-id" name="vid" placeholder="VENDOR ID">
        <p class="title">PRODUCT DESCRIPTION</p>
        <input type="text" id="desc" name="desc" placeholder="PRODUCT DESCRIPTION/ DETAILS" required autocomplete="off">
        <p class="title">SEARCHING KEYWORDS</p>
        <input type="text" id="keywords" name="keywords" placeholder="PRODUCT KEYWORDS" required>
        <p class="title">PRODUCT WEIGHT</p>
        <input type="text" id="weight" name="weight" placeholder="PRODUCT WEIGHT (in gms)" required>
        <p class="title">ORIGINAL PRICE</p>
        <input type="text" id="price" name="price" placeholder="₹ ORIGINAL PRODUCT PRICE" required autocomplete="off">
        <p class="title">DISCOUNTED PRICE</p>
        <input type="text" id="dsc-price" name="dsc-price" placeholder="₹ DISCOUNTED PRODUCT PRICE" required autocomplete="off" >
        <p class="title">DISCOUNT PERCENTAGE</p>
        <input type="text" id="dsc-percentage" name="dsc-prctng" placeholder="DISCOUNT PERCENTAGE %" required autocomplete="off" disabled>
        <p class="title">PRODUCT STOCK</p>
        <input type="text" id="stock" name="stock" placeholder="PRODUCT STOCK" required>
        <p class="title">SAREE LENGHT (in meters)</p>
        <input type="text" id="saree-len" name="slen" placeholder="LENGTH OF SAREE (in meters)" required>
        <p class="title">BLOUSE LENGTH (in inches)</p>
        <input type="text" id="blouse-len" name="blen" placeholder="LENGTH OF BLOUSE (in inch)" required>
        <p class="title">PRODUCT MATERIAL</p>
        <select name="material" id="material" required>
            <option value="default" disabled selected>PRODUCT MATERIAL</option>
            {% for item in material %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>

        <p class="title">PRODUCT CARE</p>
        <input type="text" id="care" name="product-care" placeholder="PRODUCT CARE" required>
    </div>

    <div id="right-section">
        <div id="img01">
            <div id="overview"></div><input type="file" name="img01" id="img-input01" class="choose-image" accept="image/*" required>
        </div> 
        <div id="img02">
            <div id="overview"></div><input type="file" name="img02" id="img-input02" class="choose-image" accept="image/*" required>
        </div>
        <div id="img03">
            <div id="overview"></div><input type="file" name="img03" id="img-input03" class="choose-image" accept="image/*" required>
        </div>
        <div id="img04">
            <div id="overview"></div><input type="file" name="img04" id="img-input04" class="choose-image" accept="image/*" required>
        </div>
        
        <button id="submit" type="submit">UPDATE PRODUCT DETAILS</button>
    </div>
</form>


<script>
    function percentage(){
        let originalPrice = document.querySelector('#price');
        let discounted_price = document.querySelector('#dsc-price');
        let percent = document.querySelector('#dsc-percentage');

        let array = [originalPrice, discounted_price, percent];

        document.addEventListener('keyup', event => {
            if (array.includes(event.target)){
                
                let value = Number(event.target.value);
                console.log(value)
                if(Number.isNaN(value)){
                    event.target.style.outline = '2px solid red';
                }
                else{
                    event.target.style.outline = 'none';

                    //<!-- writing the actual code now -->
                    //<!-- calculate percentage and  display -->
                    
                    let ttlPrice = originalPrice.value;
                    let disc = discounted_price.value;
                    let result = percent.value;
                    
                    percent.value = calculate(disc, ttlPrice)
                }
            }
        })
    }


    function calculate(disc, ttlPrice){
        let result = Math.trunc((100 - ((disc/ttlPrice)*100))*100)/100;
        return 'Discount '+result+' %';
    }

    percentage();
</script>


<script>
    let search = document.querySelector('input');

    search.addEventListener('keyup', async event => {
        if (event.key == 'Enter') {
            let query = search.value;

            let response = await fetch('/edit', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'query': query })
            })

            let data = await response.json();
            let kw = data.keywords;
            data = data.data;

            console.log(kw)

            let title = document.querySelector('#title');
            title.value = data.title;

            let vendor = document.querySelector('#vendor-id');
            vendor.value = data.vid;

            let desc = document.querySelector('#desc');
            desc.value = data.desc;

            let keywords = document.querySelector('#keywords');
            keywords.value = kw;

            let weight = document.querySelector('#weight');
            weight.value = data.weight;

            let price = document.querySelector('#price');
            price.value = data.og_price;

            let disc_price = document.querySelector('#dsc-price');
            disc_price.value = data.disc_price;

            let prctng = document.querySelector('#dsc-percentage');
            prctng.value = calculate(disc_price.value, price.value);

            let stock = document.querySelector('#stock');
            stock.value = data.stock;

            let slen = document.querySelector('#saree-len');
            slen.value = data.slen;

            let blen = document.querySelector('#blouse-len');
            blen.value = data.slen;

            let material = document.querySelector('#material option');
            material.value = data.material;
            material.innerText = data.material;

            let care = document.querySelector('#care');
            care.value = data.care;

            let img01 = document.querySelector('#img01 #overview');
            img01.style.backgroundImage = `url('data:img/png;base64,${data.img01}')`;

            let img02 = document.querySelector('#img02 #overview');
            img02.style.backgroundImage = `url('data:img/png;base64,${data.img02}')`;

            let img03 = document.querySelector('#img03 #overview');
            img03.style.backgroundImage = `url('data:img/png;base64,${data.img03}')`;

            let img04 = document.querySelector('#img04 #overview');
            img04.style.backgroundImage = `url('data:img/png;base64,${data.img04}')`;
        }
    })
</script>

<script src="../static/scripts/image_overview.js"></script>
{% endblock %}