{% extends "layout.html" %}

{% block body %}
    <link rel="stylesheet" href="../static/homepage.css">

    <div id="upper-section">
        <a id="add" class="button" href="/add">
            <div class="icon"></div>
            <h3 class="desc">Add</h3>
        </a>

        <a id="edit" class="button" href="/edit">
            <div class="icon"></div>
            <h3 class="desc">Edit</h3>
        </a>
        <a id="draft" class="button" href="/draft">
            <div class="icon"></div>
            <h3 class="desc">Draft</h3>
        </a>
    </div>

    <div id="logo"></div>
{% endblock %}