{% extends "layout.html" %} {% block body %}
<link rel="stylesheet" href="../static/sku.css" />
<script src="../static/scripts/table_sorter.js"></script>

<div class="custom-wrapper" data-table="skuTable" data-search="searchInput">
  <div class="custom-header">
    <h2>All SKUs</h2>

    <div class="header-right">
      <span class="user-count">Total: {{ data|length }}</span>
      <input type="text" id="searchInput" class="search-box" placeholder="search skus..." />
    </div>
  </div>

  <table class="styled-table" id="skuTable">
    <thead>
      <tr>
        <th>SKU ID</th>
        <th>PRODUCT IMAGE</th>
        <th>PRODUCT DETAILS</th>
        <th>PRICE</th>
        <!-- <th>PRODUCT ID</th> -->
      </tr>
    </thead>

    <tbody>
      {% for sku in data %}
      <tr>
        <td>{{ sku.skuid }}</td>

        <!-- FUTURE: product image -->
        <td>
          <img src="data:image/webp;base64,{{sku.image}}" alt="SKU Image" style="
              width: 55px;
              height: 55px;
              border-radius: 6px;
              object-fit: contain;
            " />
        </td>

        <!-- FUTURE: product details -->
        <td>{{sku.title}}</td>

        <!-- FUTURE: price -->
        <td>
          {{sku.selling_price}}
        </td>

        <!-- <td>{{ sku[1] }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}